.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px; 
    padding: 20px;
}

.today-sun-info, .tomorrow-sun-info {
    grid-column: span 1;
    border-style: groove;
    border-width: 5px;
    border-color: sandybrown;
    padding: 10px;
    
}

.overall {
    grid-column: span 2; 
}

.title, .locations, .credit {
    grid-column: span 2; 
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0.5px;
    font-weight: normal;
}

h1, h2, h3{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.locations ul { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    list-style-type: none; 
    padding: 0; 
} 

.locations li { 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    text-align: center;
}

.locations li {
    padding: 5px;
    border: 1px solid sandybrown;
    background-color: #fcc970;
    border-radius: 4px;
}

.credit {
    margin-top: 2em;
    font-size: .75em;
    text-align: center;
    background-color: #a09d9d;
    padding: 1rem;
  }